In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# Import data 

file_path = Path("dataset/EPL_dfp_summary.xlsx")
epl_summary_2020 = pd.read_excel(file_path, sheet_name= 2, index_col = "suhbscriber_id")
epl_summary_2019 = epl_summary2020 = pd.read_excel(file_path, sheet_name= 3, index_col = "suhbscriber_id")

In [4]:
#view data imported 
epl_summary_2020.head()

,num_of_breaches,dfp_accounts,dfp_breach_percentage,by_avg_number,by_avg_percentage,Unnamed: 6,Unnamed: 7,Unnamed: 8
suhbscriber_id,,,,,,,,
1017377,2,130,0.015385,0,0,NaN,NaN,NaN
1035923,3,173,0.017341,1,0,NaN,NaN,NaN
1040843,5,171,0.029240,1,0,Average Num Breaches,Average Breach Percentage,Average Num DFP accounts per breached subscriber
1046589,1,23,0.043478,0,1,2.133145,0.043119,119.894708
1050055,1,146,0.006849,0,0,NaN,NaN,NaN

In [5]:
#view data imported 
epl_summary_2019.head()

,num_of_breaches,dfp_accounts,dfp_breach_percentage,by_avg_number,by_avg_percentage,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
suhbscriber_id,,,,,,,,,
4,1,175,0.005714,0,0,NaN,NaN,NaN,NaN
149,1,182,0.005495,0,0,NaN,NaN,NaN,NaN
27176,4,66,0.060606,1,1,NaN,Average Num Breaches,Average Breach Percentage,Average Num DFP accounts per breached subscriber
952283,4,258,0.015504,1,0,NaN,2.205371,0.031469,179.965245
970246,2,9,0.222222,0,1,NaN,NaN,NaN,NaN

In [6]:
#select and rename columns needed 

epl_2020 = epl_summary_2020[['num_of_breaches', 'dfp_accounts']]
epl_2020.rename(columns = {'num_of_breaches': 'No of breaches 2020', 'dfp_accounts':'DFP accounts 2020'}, inplace= True) 
epl_2020.head()

/Users/manuela.nkwinkwa/opt/anaconda3/envs/dev/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                No of breaches 2020  DFP accounts 2020
suhbscriber_id
1017377                           2                130
1035923                           3                173
1040843                           5                171
1046589                           1                 23
1050055                           1                146

In [7]:
epl_2019 = epl_summary_2019[['num_of_breaches', 'dfp_accounts']]

epl_2019.rename(columns = {'num_of_breaches': 'No of breaches 2019', 'dfp_accounts':'DFP accounts 2019'}, inplace= True) 
epl_2019.head()

/Users/manuela.nkwinkwa/opt/anaconda3/envs/dev/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                No of breaches 2019  DFP accounts 2019
suhbscriber_id
4                                 1                175
149                               1                182
27176                             4                 66
952283                            4                258
970246                            2                  9

In [8]:
epl_summary = pd.concat([epl_2019, epl_2020], axis=1, join='inner')
epl_summary.head()

,No of breaches 2019,DFP accounts 2019,No of breaches 2020,DFP accounts 2020
suhbscriber_id,,,,
1806256,3,161,3,187
4500718,4,41,4,32
4654365,1,4,1,27
4852541,1,131,1,172
5072047,2,224,1,22

In [12]:
#read data 
file_path = Path("dataset/alerts_remediation.csv")

alerts_remediation = pd.read_csv(file_path, delimiter= '|')

#display data 

alerts_remediation.head()

,subscriber_id,category,alert_type,vendor,create_date,Subscriber_ID,Open_Reason_Desc,Case_Count,Create_Date
0,4690589,Credit Monitoring,NewEvent,IA_GEN_ALERT,2018-02-19,4690589,Fraudulent Application/Inquiry,1,2019-10-28 17:17:12
1,4690589,Credit Monitoring,NewEvent,IA_GEN_ALERT,2018-03-01,4690589,Fraudulent Application/Inquiry,1,2019-10-28 17:17:12
2,4690589,Credit Monitoring,NewEvent,IA_GEN_ALERT,2018-11-26,4690589,Fraudulent Application/Inquiry,1,2019-10-28 17:17:12
3,4690589,Credit Monitoring,New Account,Best Buy/CitiBank North America,2018-12-05,4690589,Fraudulent Application/Inquiry,1,2019-10-28 17:17:12
4,4690589,Credit Monitoring,Fraud Statement,NaN,2018-12-13,4690589,Fraudulent Application/Inquiry,1,2019-10-28 17:17:12

In [55]:
# select columns needed 

alerts_data = alerts_remediation[['subscriber_id','category', 'alert_type', 'Create_Date', 'Open_Reason_Desc', 'vendor']]

#display

alerts_data.head()

,subscriber_id,category,alert_type,Create_Date,Open_Reason_Desc,vendor
0,4690589,Credit Monitoring,NewEvent,2019-10-28 17:17:12,Fraudulent Application/Inquiry,IA_GEN_ALERT
1,4690589,Credit Monitoring,NewEvent,2019-10-28 17:17:12,Fraudulent Application/Inquiry,IA_GEN_ALERT
2,4690589,Credit Monitoring,NewEvent,2019-10-28 17:17:12,Fraudulent Application/Inquiry,IA_GEN_ALERT
3,4690589,Credit Monitoring,New Account,2019-10-28 17:17:12,Fraudulent Application/Inquiry,Best Buy/CitiBank North America
4,4690589,Credit Monitoring,Fraud Statement,2019-10-28 17:17:12,Fraudulent Application/Inquiry,NaN

In [43]:
# alerts = alerts_data.groupby(['subscriber_id', 'category', 'alert_type']).count()

#display(alerts.head(50))
#display(alerts.tail(50))

alerts_data['category'].value_counts()

Credit Monitoring          79054
Yodlee Alert               43986
Early Warning               3298
High Risk Transaction       1948
Compromised Credentials      757
Social Network               406
Name: category, dtype: int64

In [57]:
alerts_data['alert_type'].value_counts()

DEBIT                                  26389
New Inquiry                            20686
New Account                            16908
CREDIT                                 11948
Account Information                    10859
                                       ...
Language,Bullying,Harm-Abuse,Sexual        3
New Public                                 2
Language,Grooming                          1
Language,Bullying,Harm-Abuse               1
Suspicious Link                            1
Name: alert_type, Length: 72, dtype: int64

In [37]:
alerts_data['Create_Date'].value_counts()

2019-10-28 17:17:12    104243
2019-10-29 01:42:26      1305
2020-01-30 01:35:06       817
2019-12-03 01:44:27       730
2020-01-22 01:35:22       696
                        ...
2020-02-24 01:34:19         2
2020-04-19 01:35:00         2
2020-01-02 01:44:37         1
2020-04-12 02:07:56         1
2019-12-08 01:44:44         1
Name: Create_Date, Length: 173, dtype: int64

In [35]:
alerts_data['Open_Reason_Desc'].value_counts()

New_Account_Fraud                 69286
Fraudulent Application/Inquiry    42124
Other                              5446
Account Takeover                   4479
-                                  3750
Criminal Fraud                     1134
Check Fraud                         759
Medical Fraud                       540
Government Fraud and/or Tax         535
Government and/or Tax Fraud         503
Employment Fraud                    441
Call outs needed                    267
Research Needed                     147
Courtesy Follow up                   38
Name: Open_Reason_Desc, dtype: int64

In [41]:
alerts_data['subscriber_id'].value_counts()

4032488    1353
5975548    1248
3406529    1212
3794147     955
5607125     951
           ...
2181758       1
4044838       1
3770352       1
5612250       1
5513174       1
Name: subscriber_id, Length: 4396, dtype: int64

In [56]:
alerts_data['vendor'].value_counts()

Unknown                                                                         5275
IA_GEN_ALERT                                                                    3967
Capital One Bank USA North America                                               891
Payment Thank You - Web                                                          566
Chase Card                                                                       516
                                                                                ...
CHASE CREDIT CRD DES:EPAY ID:xxxxxx8502 INDN:BARBARA A PATRICELLI CO ID:5760       1
Online Banking transfer from CHK 2154 Confirmation# xxxxxx8826                     1
Online Banking transfer to CHK 9850 Confirmation# xxxxxx8826                       1
CROSSROADS MINISTRIES                                                              1
RIVER VALLEY FEDERAL CREDIT                                                        1
Name: vendor, Length: 26321, dtype: int64

In [59]:
alerts = alerts_data.groupby(['category', 'alert_type']).count()

alerts

                                                          subscriber_id  \
category                alert_type
Compromised Credentials Credentials dump                             16
                        Database dump                               741
Credit Monitoring       Account Information                       10859
                        Account included in a bankruptcy            162
                        Bankruptcy Change                             3
...                                                                 ...
Social Network          Profanity                                   146
                        Sexually Explicit                            33
                        Suspicious Link                               1
Yodlee Alert            CREDIT                                    11948
                        DEBIT                                     26389

                                                          Create_Date  \
category                alert_type
Compromised Credentials Credentials dump                           16
                        Database dump                             741
Credit Monitoring       Account Information                     10859
                        Account included in a bankruptcy          162
                        Bankruptcy Change                           3
...                                                               ...
Social Network          Profanity                                 146
                        Sexually Explicit                          33
                        Suspicious Link                             1
Yodlee Alert            CREDIT                                  11948
                        DEBIT                                   26389

                                                          Open_Reason_Desc  \
category                alert_type
Compromised Credentials Credentials dump                                16
                        Database dump                                  741
Credit Monitoring       Account Information                          10859
                        Account included in a bankruptcy               162
                        Bankruptcy Change                                3
...                                                                    ...
Social Network          Profanity                                      146
                        Sexually Explicit                               33
                        Suspicious Link                                  1
Yodlee Alert            CREDIT                                       11948
                        DEBIT                                        26389

                                                          vendor
category                alert_type
Compromised Credentials Credentials dump                      16
                        Database dump                        741
Credit Monitoring       Account Information                    0
                        Account included in a bankruptcy      87
                        Bankruptcy Change                      0
...                                                          ...
Social Network          Profanity                            146
                        Sexually Explicit                     33
                        Suspicious Link                        1
Yodlee Alert            CREDIT                             11948
                        DEBIT                              26389

[72 rows x 4 columns]