In [1]:
# Initial Library Imports
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Import Data from csv
oracle_path = Path('fraud_oracle.csv')
oracle_data = pd.read_csv(oracle_path)

In [3]:
# Oracle
oracle_data.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,3 years,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,7 years,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,more than 7,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,5 years,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision

In [4]:
# List all columns
oracle_data.columns

Index(['Month', 'WeekOfMonth', 'DayOfWeek', 'Make', 'AccidentArea',
       'DayOfWeekClaimed', 'MonthClaimed', 'WeekOfMonthClaimed', 'Sex',
       'MaritalStatus', 'Age', 'Fault', 'PolicyType', 'VehicleCategory',
       'VehiclePrice', 'FraudFound_P', 'PolicyNumber', 'RepNumber',
       'Deductible', 'DriverRating', 'Days_Policy_Accident',
       'Days_Policy_Claim', 'PastNumberOfClaims', 'AgeOfVehicle',
       'AgeOfPolicyHolder', 'PoliceReportFiled', 'WitnessPresent', 'AgentType',
       'NumberOfSuppliments', 'AddressChange_Claim', 'NumberOfCars', 'Year',
       'BasePolicy'],
      dtype='object')

In [5]:
# Check columns we're unsure of
oracle_data['BasePolicy'].value_counts()

Collision     5962
Liability     5009
All Perils    4449
Name: BasePolicy, dtype: int64

In [6]:
# Check columns we're unsure of
oracle_data['DayOfWeekClaimed'].value_counts()

Monday       3757
Tuesday      3375
Wednesday    2951
Thursday     2660
Friday       2497
Saturday      127
Sunday         52
0               1
Name: DayOfWeekClaimed, dtype: int64

In [7]:
oracle_data['WeekOfMonthClaimed'].value_counts()

2    3720
3    3583
1    3450
4    3433
5    1234
Name: WeekOfMonthClaimed, dtype: int64

In [8]:
# Check columns we're unsure of
oracle_data['AgeOfVehicle'].value_counts()

7 years        5807
more than 7    3981
6 years        3448
5 years        1357
new             373
4 years         229
3 years         152
2 years          73
Name: AgeOfVehicle, dtype: int64

In [9]:
# Drop columns we don't have enough informnation about or need
oracle_data = oracle_data.drop(columns=['PolicyNumber', 'RepNumber', 'Days_Policy_Accident',
       'Days_Policy_Claim', 'NumberOfSuppliments','Make', 'DriverRating', 'Age', 'PolicyType',
                                        'Month', 'WeekOfMonth', 'DayOfWeek'])
oracle_data.head()

,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,Fault,VehicleCategory,VehiclePrice,FraudFound_P,...,PastNumberOfClaims,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Urban,Tuesday,Jan,1,Female,Single,Policy Holder,Sport,more than 69000,0,...,none,3 years,26 to 30,No,No,External,1 year,3 to 4,1994,Liability
1,Urban,Monday,Jan,4,Male,Single,Policy Holder,Sport,more than 69000,0,...,none,6 years,31 to 35,Yes,No,External,no change,1 vehicle,1994,Collision
2,Urban,Thursday,Nov,2,Male,Married,Policy Holder,Sport,more than 69000,0,...,1,7 years,41 to 50,No,No,External,no change,1 vehicle,1994,Collision
3,Rural,Friday,Jul,1,Male,Married,Third Party,Sport,20000 to 29000,0,...,1,more than 7,51 to 65,Yes,No,External,no change,1 vehicle,1994,Liability
4,Urban,Tuesday,Feb,2,Female,Single,Third Party,Sport,more than 69000,0,...,none,5 years,31 to 35,No,No,External,no change,1 vehicle,1994,Collision

In [10]:
# Make Age of Vehicle column numerical
oracle_data.loc[oracle_data['AgeOfVehicle'] == 'new', 'AgeOfVehicle'] = '1'
oracle_data.loc[oracle_data['AgeOfVehicle'] == '2 years', 'AgeOfVehicle'] = '2'
oracle_data.loc[oracle_data['AgeOfVehicle'] == '3 years', 'AgeOfVehicle'] = '3'
oracle_data.loc[oracle_data['AgeOfVehicle'] == '4 years', 'AgeOfVehicle'] = '4'
oracle_data.loc[oracle_data['AgeOfVehicle'] == '5 years', 'AgeOfVehicle'] = '5'
oracle_data.loc[oracle_data['AgeOfVehicle'] == '6 years', 'AgeOfVehicle'] = '6'
oracle_data.loc[oracle_data['AgeOfVehicle'] == '7 years', 'AgeOfVehicle'] = '7'
oracle_data.loc[oracle_data['AgeOfVehicle'] == 'more than 7', 'AgeOfVehicle'] = '8'

oracle_data.head()

,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,Fault,VehicleCategory,VehiclePrice,FraudFound_P,...,PastNumberOfClaims,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Urban,Tuesday,Jan,1,Female,Single,Policy Holder,Sport,more than 69000,0,...,none,3,26 to 30,No,No,External,1 year,3 to 4,1994,Liability
1,Urban,Monday,Jan,4,Male,Single,Policy Holder,Sport,more than 69000,0,...,none,6,31 to 35,Yes,No,External,no change,1 vehicle,1994,Collision
2,Urban,Thursday,Nov,2,Male,Married,Policy Holder,Sport,more than 69000,0,...,1,7,41 to 50,No,No,External,no change,1 vehicle,1994,Collision
3,Rural,Friday,Jul,1,Male,Married,Third Party,Sport,20000 to 29000,0,...,1,8,51 to 65,Yes,No,External,no change,1 vehicle,1994,Liability
4,Urban,Tuesday,Feb,2,Female,Single,Third Party,Sport,more than 69000,0,...,none,5,31 to 35,No,No,External,no change,1 vehicle,1994,Collision

In [11]:
oracle_data['MonthClaimed'].value_counts()

Jan    1446
May    1411
Mar    1348
Oct    1339
Jun    1293
Feb    1287
Nov    1285
Apr    1271
Sep    1242
Jul    1225
Dec    1146
Aug    1126
0         1
Name: MonthClaimed, dtype: int64

In [12]:
# Make MonthClaimed column numerical
oracle_data.loc[oracle_data['MonthClaimed'] == 'Jan', 'MonthClaimed'] = '1'
oracle_data.loc[oracle_data['MonthClaimed'] == 'Feb', 'MonthClaimed'] = '2'
oracle_data.loc[oracle_data['MonthClaimed'] == 'Mar', 'MonthClaimed'] = '3'
oracle_data.loc[oracle_data['MonthClaimed'] == 'Apr', 'MonthClaimed'] = '4'
oracle_data.loc[oracle_data['MonthClaimed'] == 'May', 'MonthClaimed'] = '5'
oracle_data.loc[oracle_data['MonthClaimed'] == 'Jun', 'MonthClaimed'] = '6'
oracle_data.loc[oracle_data['MonthClaimed'] == 'Jul', 'MonthClaimed'] = '7'
oracle_data.loc[oracle_data['MonthClaimed'] == 'Aug', 'MonthClaimed'] = '8'
oracle_data.loc[oracle_data['MonthClaimed'] == 'Sep', 'MonthClaimed'] = '9'
oracle_data.loc[oracle_data['MonthClaimed'] == 'Oct', 'MonthClaimed'] = '10'
oracle_data.loc[oracle_data['MonthClaimed'] == 'Nov', 'MonthClaimed'] = '11'
oracle_data.loc[oracle_data['MonthClaimed'] == 'Dec', 'MonthClaimed'] = '12'

oracle_data.head()

,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,Fault,VehicleCategory,VehiclePrice,FraudFound_P,...,PastNumberOfClaims,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Urban,Tuesday,1,1,Female,Single,Policy Holder,Sport,more than 69000,0,...,none,3,26 to 30,No,No,External,1 year,3 to 4,1994,Liability
1,Urban,Monday,1,4,Male,Single,Policy Holder,Sport,more than 69000,0,...,none,6,31 to 35,Yes,No,External,no change,1 vehicle,1994,Collision
2,Urban,Thursday,11,2,Male,Married,Policy Holder,Sport,more than 69000,0,...,1,7,41 to 50,No,No,External,no change,1 vehicle,1994,Collision
3,Rural,Friday,7,1,Male,Married,Third Party,Sport,20000 to 29000,0,...,1,8,51 to 65,Yes,No,External,no change,1 vehicle,1994,Liability
4,Urban,Tuesday,2,2,Female,Single,Third Party,Sport,more than 69000,0,...,none,5,31 to 35,No,No,External,no change,1 vehicle,1994,Collision

In [13]:
# Make DayofWeekClaimed column numerical
oracle_data.loc[oracle_data['DayOfWeekClaimed'] == 'Monday', 'DayOfWeekClaimed'] = '1'
oracle_data.loc[oracle_data['DayOfWeekClaimed'] == 'Tuesday', 'DayOfWeekClaimed'] = '2'
oracle_data.loc[oracle_data['DayOfWeekClaimed'] == 'Wednesday', 'DayOfWeekClaimed'] = '3'
oracle_data.loc[oracle_data['DayOfWeekClaimed'] == 'Thursday', 'DayOfWeekClaimed'] = '4'
oracle_data.loc[oracle_data['DayOfWeekClaimed'] == 'Friday', 'DayOfWeekClaimed'] = '5'
oracle_data.loc[oracle_data['DayOfWeekClaimed'] == 'Saturday', 'DayOfWeekClaimed'] = '6'
oracle_data.loc[oracle_data['DayOfWeekClaimed'] == 'Sunday', 'DayOfWeekClaimed'] = '7'

oracle_data.head()

,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,Fault,VehicleCategory,VehiclePrice,FraudFound_P,...,PastNumberOfClaims,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Urban,2,1,1,Female,Single,Policy Holder,Sport,more than 69000,0,...,none,3,26 to 30,No,No,External,1 year,3 to 4,1994,Liability
1,Urban,1,1,4,Male,Single,Policy Holder,Sport,more than 69000,0,...,none,6,31 to 35,Yes,No,External,no change,1 vehicle,1994,Collision
2,Urban,4,11,2,Male,Married,Policy Holder,Sport,more than 69000,0,...,1,7,41 to 50,No,No,External,no change,1 vehicle,1994,Collision
3,Rural,5,7,1,Male,Married,Third Party,Sport,20000 to 29000,0,...,1,8,51 to 65,Yes,No,External,no change,1 vehicle,1994,Liability
4,Urban,2,2,2,Female,Single,Third Party,Sport,more than 69000,0,...,none,5,31 to 35,No,No,External,no change,1 vehicle,1994,Collision